<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="sogou_site_verification" content="TOyU0aWQKw"/>
    <title>团队成员—极限编程网</title>

    <link type="text/css" rel="stylesheet" href="/public/css/front/base.min.css" />
    <link type="text/css" rel="stylesheet" href="/public/css/front/team.min.css" />
</head>
<body>
<div class="main-container">
    <div class="team-box">
        <h1 class="team-title">团队介绍</h1>
        <div class="team-info">
            极限编程网是由一群热爱编程技术的开发者组成，是一个面向开发者的知识分享社区。网站一直致力于推动并帮助开发者通过互联网分享知识，从而让更多开发者从中受益。极限编程网的使命是帮助开发者技术上成长。
        </div>
        <div class="team-user-list">
            <div class="team-user-item">
                <div class="team-user-head">
                    <img src="../public/images/wangyb.jpg">
                    <p><b>王彦炳</b></p>
                    <p class="team-user-position">高级开发工程师</p>
                </div>
                <div class="team-user-info">
                    <p><b>写作笔名：</b>暗夜余晖</p>
                    <p><b>擅长领域：</b>.net,node,mq</p>
                    <p><b>博主介绍：</b>暗夜余晖全栈工程师、擅长领域：.Net、Node、分布式消息队列、NoSql、Web前端构建等。拥有丰富的企业应用软件开发经验、深厚的软件架构设计理论基础及实践能力。</p>
                </div>
            </div>
            <div class="team-user-item">
                <div class="team-user-head">
                    <img src="" alt="等待更新">
                    <p><b>郭燕飞</b></p>
                    <p class="team-user-position">高级开发工程师</p>
                </div>
                <div class="team-user-info">
                    <p><b>写作笔名：</b>持之以恒</p>
                    <p><b>擅长领域：</b>android,ios,java,html5</p>
                    <p><b>博主介绍：</b>持之以恒技术全才、擅长领域：区块链、大数据、Java等。10余年软件研发及企业培训经验，曾为多家大型企业提供企业内训如中石化，中国联通，中国移动等知名企业。拥有丰富的企业应用软件开发经验、深厚的软件架构设计理论基础及实践能力。项目开发历程：基于大数据技术推荐系统 ，医疗保险大数据分析与统计推断，H5跨平台APP，携程酒店APP，Go语言实现Storm和ZK类似框架。</p>
                </div>
            </div>
            <div class="team-user-item">
                <div class="team-user-head">
                    <img src="../public/images/dupeng.png" alt="等待更新">
                    <p><b>杜 鹏</b></p>
                    <p class="team-user-position">高级开发工程师</p>
                </div>
                <div class="team-user-info">
                    <p><b>写作笔名：</b>一蓑烟雨</p>
                    <p><b>擅长领域：</b>.Net、WEB前端</p>
                    <p><b>博主介绍：</b>8年软件开发经验，擅长C#、Node.js等语言；熟练Angular.js、Vue.js等前端框架、以及Html5、Css3等；熟练掌握SQL Server、Oracle、MongoDB等数据库；对分布式缓存、异步消息队列等有实际经验。</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <hr />
        <div class="copyright">Copyright ©2017 暗夜余晖 <a href="http://www.beian.miit.gov.cn" target="_blank">京ICP备17031177号</a></div>
    </footer>
</div>

<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?fd1ceba3a88cc1b173642227fe246700";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<script>
  (function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>
</body>
</html>
