<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="sogou_site_verification" content="TOyU0aWQKw"/>
    <title>团队成员—极限编程网</title>

    <link type="text/css" rel="stylesheet" href="/public/css/front/base.min.css" />
    <link type="text/css" rel="stylesheet" href="/public/css/front/common.min.css" />
</head>
<body>
<div class="home">
    <header>
        <!-- 头部-->
        <div class="head-container">
            <div class="head-title">
                <a href="/">极限编程网</a>
            </div>
            <div class="head-subtitle">
                夫天地者，万物之逆旅；光阴者，百代之过客。而浮生若梦，为欢几何？
            </div>
            <div class="head-ad">
                <a target="_blank" href="https://s.click.taobao.com/t?e=m%3D2%26s%3DWU32g756VS0cQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAjwJUue27zylkaoalCr%2FU6qSYxvizkXkp868iCTtlyPlhv8pEZmNN6WuE3ZDQ9E8burQ%2BKNHXUoOiYWStHE%2B0ceFSvfO0N66nzO5MaXTjVACe2l9FrhMrdPv%2BfHIT3CFRNdvthxiSWPsdnn9YK8Mk5jfleFWJLnarYaVo1qVTQzCfw%2F8dhe%2BNbDGDmntuH4VtA%3D%3D">
                    <img src="/public/images/alimama_300-100.jpg" alt="">
                </a>
            </div>
        </div>
    </header>
    <div class="main-container">
    </div>
    <footer>
        <hr />
        <div class="copyright">Copyright ©2017 暗夜余晖 <a href="http://www.beian.miit.gov.cn" target="_blank">京ICP备17031177号</a></div>
    </footer>
</div>

<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?fd1ceba3a88cc1b173642227fe246700";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<script>
  (function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>
</body>
</html>
