<% layout('admin/layout.html') -%>

<% block('footScript').append('<script src="/public/scripts/admin/comment_list.min.js"></script>') %>

<div class="main-content-title">
    <i class="fa fa-home p_r_10"></i>首页
    <i class='fa fa-angle-right p_r_10 p_l_10'></i>文章管理
    <i class='fa fa-angle-right p_r_10 p_l_10'></i>文章评论
</div>
<div class="main-content-body">
    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>序号</th>
            <th>IP地址</th>
            <th>评论时间</th>
            <th>操     作</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i< data.length; i++){ %>
        <tr>
            <th><%= i+1 %></th>
            <th><%=data[i].title %></th>
            <th><%=data[i].ipaddress %></th>
            <th><%=data[i].createTime.toLocaleString() %></th>
            <th>
                <a href="javascript:;" data-id="<%= data[i]._id %>">
                    <span class="glyphicon glyphicon-remove p_l_10"></span>
                </a>
            </th>
        </tr>
        <%} %>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <% for(var i=1; i < pageCount() ;i++) {%>
            <li><a href="/admin/article/commentlist?id=<%= articleId%>&p=<%=i%>"><%= i %></a></li>
            <%}%>
        </ul>
    </nav>
</div>